services:
  mysql:
    container_name: "mysql"
    hostname: "mysql"
    image: yobasystems/alpine-mariadb:latest
    restart: "always"
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-mysql}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-go_blog_cache}
      MYSQL_USER: ${MYSQL_USER:-mysql}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-mysql}
    volumes:
      - ./sql/test_db:/tmp/test_db
      - ./cmd/mysql/001_load_employees.sh:/docker-entrypoint-initdb.d/001_load_employees.sh

  redis:
    container_name: "redis"
    hostname: "redis"
    image: redis:7.0.12-alpine
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning

  nginx:
    container_name: "nginx"
    hostname: "nginx"
    profiles: ["service"]
    image: nginx:1.21.6-alpine
    depends_on:
      - service_read
      - service_write
    restart: "always"
    ports:
      - "8080:80"
    volumes:
      - "./config/nginx.conf:/etc/nginx/conf.d/default.conf"

  scenario:
    hostname: "scenario"
    profiles: ["scenario"]
    image: ghcr.io/antonio-alexander/go-blog-cache_scenario:latest
    depends_on:
      - redis
      - service_read
      - service_write
    build:
      context: ./
      dockerfile: ./cmd/scenario/Dockerfile
      args:
        PLATFORM: ${PLATFORM:-linux/amd64}
        GO_ARCH: ${GO_ARCH:-amd64}
        GO_ARM: ${GO_ARM:-7}
    environment:
      CLIENT_ADDRESS: ${CLIENT_ADDRESS:-service}
      CLIENT_PORT: ${CLIENT_PORT:-8080}
      CLIENT_PROTOCOL: ${CLIENT_PROTOCOL:-http}
      CLIENT_TIMEOUT: ${CLIENT_TIMEOUT:-10}
      CACHE_DISABLED: ${CACHE_DISABLED:-true}
      REDIS_ADDRESS: ${REDIS_ADDRESS:-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_DATABASE: ${REDIS_DATABASE}
      REDIS_HASH_KEY: ${REDIS_HASH_KEY}
      REDIS_TIMEOUT: ${REDIS_TIMEOUT:-10}
      STASH_EVICTION_POLICY: ${STASH_EVICTION_POLICY:-least_frequently_used}
      STASH_TIME_TO_LIVE: ${STASH_TIME_TO_LIVE:-120}
      STASH_DEBUG: ${STASH_DEBUG:-true}
      STASH_DEBUG_PREFIX: ${STASH_DEBUG_PREFIX:-service}
      STASH_EVICTION_RATE: ${STASH_EVICTION_RATE:-60}
      CACHE_TYPE: ${CACHE_TYPE} #memory, redis, stash-redis, stash-memory
      LOG_LEVEL: ${LOG_LEVEL:-trace}
      CACHE_PRUNE_INTERVAL: ${CACHE_PRUNE_INTERVAL:-10}
      N_CLIENTS: ${N_CLIENTS}
      SCENARIO: ${SCENARIO}

  service_read:
    hostname: "service_read"
    profiles: ["service"]
    image: ghcr.io/antonio-alexander/go-blog-cache_service:latest
    depends_on:
      - mysql
      - redis
    deploy:
      replicas: 2
    ports:
      - 8080
    restart: "always"
    build:
      context: ./
      dockerfile: ./cmd/service/Dockerfile
      args:
        PLATFORM: ${PLATFORM:-linux/amd64}
        GO_ARCH: ${GO_ARCH:-amd64}
        GO_ARM: ${GO_ARM:-7}
    environment:
      DATABASE_HOST: ${DATABASE_HOST:-mysql}
      DATABASE_PORT: ${DATABASE_PORT:-3306}
      DATABASE_NAME: ${DATABASE_NAME:-employees}
      DATABASE_USER: ${DATABASE_USER:-mysql}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD:-mysql}
      DATABASE_QUERY_TIMEOUT: ${DATABASE_QUERY_TIMEOUT:-10}
      SERVICE_ADDRESS: ${SERVICE_ADDRESS}
      SERVICE_PORT: ${SERVICE_PORT:-8080}
      SERVICE_SHUTDOWN_TIMEOUT: ${SERVICE_SHUTDOWN_TIMEOUT:-10}
      SERVICE_CORS_DISABLED: ${SERVICE_CORS_DISABLED}
      SERVICE_CORS_ALLOWED_ORIGINS: ${SERVICE_CORS_ALLOWED_ORIGINS:-*}
      SERVICE_CORS_ALLOWED_METHODS: ${SERVICE_CORS_ALLOWED_METHODS:-POST,PUT,GET,DELETE,PATCH}
      SERVICE_CORS_DEBUG: ${SERVICE_CORS_DEBUG}
      DATABASE_PARSE_TIME: ${DATABASE_PARSE_TIME:-true}
      REDIS_ADDRESS: ${REDIS_ADDRESS:-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}
      MUTATE_DISABLED: "true"

  service_write:
    container_name: "service_write"
    hostname: "go-blog-cache_write"
    profiles: ["service"]
    image: ghcr.io/antonio-alexander/go-blog-cache_service:latest
    depends_on:
      - mysql
      - redis
    ports:
      - 8081:8080
    restart: "always"
    build:
      context: ./
      dockerfile: ./cmd/service/Dockerfile
      args:
        PLATFORM: ${PLATFORM:-linux/amd64}
        GO_ARCH: ${GO_ARCH:-amd64}
        GO_ARM: ${GO_ARM:-7}
    environment:
      DATABASE_HOST: ${DATABASE_HOST:-mysql}
      DATABASE_PORT: ${DATABASE_PORT:-3306}
      DATABASE_NAME: ${DATABASE_NAME:-employees}
      DATABASE_USER: ${DATABASE_USER:-mysql}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD:-mysql}
      DATABASE_QUERY_TIMEOUT: ${DATABASE_QUERY_TIMEOUT:-10}
      SERVICE_ADDRESS: ${SERVICE_ADDRESS}
      SERVICE_PORT: "8080"
      SERVICE_SHUTDOWN_TIMEOUT: ${SERVICE_SHUTDOWN_TIMEOUT:-10}
      SERVICE_CORS_DISABLED: ${SERVICE_CORS_DISABLED}
      SERVICE_CORS_ALLOWED_ORIGINS: ${SERVICE_CORS_ALLOWED_ORIGINS:-*}
      SERVICE_CORS_ALLOWED_METHODS: ${SERVICE_CORS_ALLOWED_METHODS:-POST,PUT,GET,DELETE,PATCH}
      SERVICE_CORS_DEBUG: ${SERVICE_CORS_DEBUG}
      DATABASE_PARSE_TIME: ${DATABASE_PARSE_TIME:-true}
      REDIS_ADDRESS: ${REDIS_ADDRESS:-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}
      MUTATE_DISABLED: "false"
